:root {
    --vivid-sky-blue: 72, 202, 228;
    --desert-sand: 218, 180, 157;
    --blue-green: 0, 150, 199;
    --vanilla: 252, 239, 180;
    --light-cyan: 202, 240, 248;
}

body {
    font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: rgb(var(--blue-green));
    font-family: "Asul", serif;
    font-weight: 700;
    font-style: normal;
}

header,
main,
footer {
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
}

header a {
    color: rgb(var(--blue-green));
}

.socialMediaLink {
    text-decoration: none;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero article {
    position: absolute;
    top: 65%;
    right: 5%;
    left: 5%;
    clear: both;
    background-color: rgba(var(--blue-green), .5);
    padding: 12px;
}


.hero article img {
    float: right;
    width: 200px;
    height: auto;
}

.hero article p {
    width: 800px;
    color: rgb(var(--vanilla));
}

.hero h1 {
    position: absolute;
    top: 20%;
    left: 0;
    right: 0;
    padding: 12px 0;
    color: rgb(var(--vanilla));
    text-align: center;
    background: rgba(0, 0, 0, 0.3);
}

footer a {
    text-decoration: none;
}

footer img {
    width: 50px;
    height: auto;
}