:root {
    --vivid-sky-blue: 72, 202, 228;
    --desert-sand: 218, 180, 157;
    --blue-green: 0, 60, 199;
    --vanilla: 252, 239, 180;
    --light-cyan: 202, 240, 248;
}

body {
    font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: rgb(var(--blue-green));
    font-family: "Asul", serif;
    font-weight: 700;
    font-style: normal;
}

header,
main,
footer {
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
}

main {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

header {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 300px 1fr;
    align-items: center;
}

header nav {
    display: flex;
    justify-content: center;
}

header a {
    color: rgb(var(--blue-green));
    background-color: rgb(var(--vanilla));
    text-decoration: none;
    min-width: 120px;
    text-align: center;
    padding: 6px;
}

.socialMediaLink {
    text-decoration: none;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero article {
    position: absolute;
    top: 65%;
    right: 5%;
    left: 5%;
    clear: both;
    background-color: rgba(var(--blue-green), .5);
    padding: 12px;
}


.hero article img {
    float: right;
    width: 200px;
    height: auto;
}

.hero article p {
    width: 800px;
    color: rgb(var(--vanilla));
}

.hero h1 {
    position: absolute;
    top: 20%;
    left: 0;
    right: 0;
    padding: 12px 0;
    color: rgb(var(--vanilla));
    text-align: center;
    background: rgba(0, 0, 0, 0.3);
}


section.history {
    text-align: center;
    background-color: rgb(var(--vanilla));
    padding: 12px 24px 24px 24px;
}

.history h2 {
    margin-top: 0;
    margin-bottom: 8px;
}

.history-content {
    display: flex;
    text-align: initial;
    gap: 18px;
}

section img {
    max-width: 300px;
}

.adventure {
    background-color: rgb(var(--blue-green));
}

figure {
    margin: 0
}

figure figcaption {
    text-align: center;
    color: rgb(var(--vanilla));
}

.adventure h2 {
    color: rgb(var(--vanilla));
    text-align: center;
}

.adventure-content {
    display: flex;
    justify-content: space-evenly;
    padding: 0 12px 18px 12px;
}

.adventure-content img {
    max-width: 190px;
}

footer div {
    display: flex;
    justify-content: space-between;
    padding: 12px;
}

.social-links {
    display: flex;
    gap: 12px;
}

footer a {
    text-decoration: none;
}

footer img {
    width: 32px;
    height: auto;
}